{% extends 'base.html.twig' %}

{% block title %}New Actividad{% endblock %}

{% block body %}
    <h1>Crear una nueva actividad</h1>

    {{ include('actividad/_form.html.twig') }}

    
{% endblock %}
